body {
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
  text-align: center;
}
.grid-layout {
  display:grid; 
 grid-template-columns:  50% 20% auto ;
 grid-template-rows: 200px auto auto;
 /* justify-content:  flex-start; */
 /* justify-content:  center; */
 /* justify-content:  space-between; */
 justify-content:  stretch;
  width: 80%;
  margin: 0 auto;
  background-color: lightgreen;
  padding: 20px;
  border: 1px solid black;
}

.caja {
  background-color: lightgray;
  border: 4px black solid;  
  text-align: center;
  line-height: 150px;

}